/* -------------
FONTS
Athene, Open Sans
-------------- */
/* -------------
COLORS
Farben: #042A5A #F4C4C4 #282B29 #7D2222 #DEB873 #D2D2D2 #388883

-------------- */
/* -------------
GENERAL
-------------- */
@font-face {
    font-family: 'Athene';
    src: url(../fonts/Athene.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: 'Athene';
}


/* -------------
header page 1
-------------- */
header {
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #042A5A;
    background-color: #DEB873;
    color: #042A5A;
}

header p {
    text-align: left;
    display: inline;
}

header span {
    display: inline-block;
    text-align: right;
}


/* -------------
section 1 temporary folio
-------------- */
body section {
    background-color: #DEB873;
}

body section h1 {
    font-size: 160px;
    font-weight: 400;
    color: #042A5A;
    border-bottom: 1px solid #042A5A;
    text-align: center;
}

body section img {
    display: block;
    margin: 30px auto;
}

body section h2 {
    font-size: ;
    font-weight: ;
    color: #042A5A;
    display: inline;


}

body section p {
    font-family: 'Open Sans', sans-serif;
    font-size: ;
    font-weight: ;
    color: #042A5A;
    display: inline-block;
}

/* Designer & Developer */
body:nth-child(2) div {
    text-align: center;
}

/* -------------
section 2 release
-------------- */
/*  */

/* #RELEASE {
    margin-top: 0.1px;
    background: #F4C4C4;
} */

/* #RELEASE nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #042A5A;

} */

/* #RELEASE:nth-of-type(2) h1 {
    color: #282B29;
    text-align: left;
    border: none;

} */

/* #RELEASE article {
    width: 400px;
    height: 180px;
    margin-left: 950px;
    text-align: left;
    /* background-color: yellow;
} */
/* 
#RELEASE article p {
    color: #282B29;
    text-align: left;
    line-height: 1.5;
} */

/* #RELEASE aside {
    width: 400px;
    height: 180px;
    margin-left: 950px;
    background-color: yellow;
} */

/* #RELEASE h3 {
    margin-left: 950px;
    font-family: 'Open Sans', sans-serif;
} */

/* section 2 release */

section:nth-of-type(2) {
    margin-top: 0.1px;
    background: #F4C4C4;

}

section:nth-of-type(2) nav p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #282B29;
    margin: 100px 0 50px 100px;

}

section:nth-of-type(2) h1 {
    color: #282B29;
    text-align: left;
    border: none;
}

section:nth-of-type(2) :nth-child(4) {
    width: 400px;
    height: 180px;
    margin-left: 950px;
    text-align: left;
    background-color: rgb(255, 0, 111);
}

section:nth-of-type(2) :nth-child(4) :first-child {
    color: #24aa4a;
    text-align: left;
    line-height: 1.5;

}

section:nth-of-type(2) :nth-child(5) {
    margin-left: 950px;
    font-family: 'Open Sans', sans-serif;
}

section:nth-of-type(2) :nth-child(6) {
    width: 400px;
    height: 180px;
    margin-left: 950px;
    background-color: rgb(0, 217, 255);
}

section:nth-of-type(2) :nth-child(7) {
    text-align: right;
    color: #eef7f1;
    display: block;
    margin: 50px 200px 0 0;
    padding-bottom: 50px;
}

/* -------------
main
-------------- */

/* -------------
section 3 contact
-------------- */

section:nth-of-type(3) {
    padding-top: 50px;
    background: #D2D2D2;
}

section:nth-of-type(3) nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #388883;
    margin: 100px 0 50px 100px;

}

section:nth-of-type(3) h1 {
    color: #388883;
    text-align: left;
    border: none;
}

section:nth-of-type(3) :nth-child(4) {
    width: 290px;
    margin: 0 auto;
    text-align: left;
    /* background-color: rgb(255, 0, 111); */
}

section:nth-of-type(3) :nth-child(4) :first-child {
    color: #388883;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 96px;
}





/* -------------
footer
-------------- */
footer {
    text-align: right;
    background: #D2D2D2;
    padding-right: 80px;
    padding-bottom: 101px;
}

footer a {
    color: #388883;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    line-height: 2;
}


/* -------------

-------------- */